h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
}
/*hero starts*/
.hero{
    background-image: url(../image/hero-bg.jpg)  ;
    width: 100%;
    height: 75vh;
    background-size: cover;
    padding: 0 15px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.hero h1{
    color: #fff;
    font-size: 40px;
    line-height: 36px;
    font-weight: 700;
}
.hero h2{
    font-size: 18px;
    color: #fff;
    line-height: 30px;
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;

}
.hero.row{
    height: 75vh;
}
.hero .full-height{
    height: 75vh;
}
/*hero ends*/

/*header starts*/
.header{
    padding-top: 5px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 12%);
}
 .logo h1 a{
    text-decoration: none;
    color: #222;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 3px;

   
}

.main-navigation{
    
}
.main-navigation .navbar .nav-link:hover {
    color: #d43076;
}

.main-navigation .navbar .nav-link.active{
    color: #d43076;
}

    
.main-navigation{}
.main-navigation{}


/*header ends*/