@media (max-width:576px){
    
}

@media (max-width:768px){
    
}

@media (max-width:992px){
    
    .header{
        display: none;
    }
    .container{
        padding-left: 0px;
    }
    .Service-page-starts .container-1 {
        margin-left: 15px;
    }
    .Service-page-starts .container {
         padding-right: 0px; 
         margin-left:0px ; 
    }
    .footer .profile-wrapper p{
        display: none;
    }
    .Service-page-starts {
       padding-left: 0px;
    }
}

@media (max-width:1200px){
    
}

@media (max-width:1400px){
    
}
