h1, h2, h3, h4, h5, h6{
    font-family: "Raleway",sans-serif;
}

.section-title{}
.section-title h2{
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
}
.section-title .section-underline{
    display: block;
    width: 50px;
    height: 3px;
    background-color: #34b7a7;
    margin: auto;
}


.custom-progress-bar-1{
}
.custom-progress-bar-1 .label{
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #222222;
    padding: 10px 0;
    margin: 0 0 6px 0;
}
.custom-progress-bar-1 .progress{
    height: 10px;
    border-radius: 0;
}
.custom-progress-bar-1 .progress .progress-bar{
    background-color: #34b7a7;
}

.card-type-1{}
.card-type-1 h3{
    font-size: 48px;
    color: #34b7a7;
    font-family: "Open Sans",sans-serif;
}

.card-type-1 p{
    font-family: "Raleway", sans-serif;
    font-size: 14px;
}

.custom-card-2{}
.custom-card-2 .card-body .card-img{
    width: 120px;
    border-radius: 50%;
}
.custom-card-2 .card-title{}
.custom-card-2 .card-body .card-subtitle{}
.custom-card-2 .card-body .card-text{}

.logo h1 a{
    text-decoration: none;
    color: #222;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
}
.main-navigation{
    padding-top: 5px;
}

.Header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #e9e8e6;
    box-shadow: 0px 0px 25px 0 rgb(0 0 0 / 8%);
    padding: 10px 0px 6px 0;
    }
    

.main-navigation .nav-link{
    font-family: "Raleway",sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #888;
    padding: 8px 12px;
}

.main-navigation .nav-link:hover{
    color: #222;
  }
    
.main-navigation .nav-link.active{
  color: #222;
}

.main-navigation .nav-link i{
    width: 0px;
    height: 2px;
    background-color: #34b7a7;
    display: block;
    transition: all 0.3ms;
    margin-top: 5px;
 }

.main-navigation .nav-link:hover i{
    width: 30px;
    height: 2px;
    background-color: #34b7a7;
    display: block;
 }

.main-navigation .nav-link.active i{
   width: 30px;
   height: 2px;
   background-color: #34b7a7;
   display: block;
}



.hero{
    background-image: url(../sri/image/image.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.hero .full-height{
    height: 100vh;
}
.hero h3{
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: snow;
}
.hero p{
    color: #6f6f6f;
    margin: 10px 0 0 0;
    font-size: 22px;
}

.hero a{
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 100px;
    transition: 0.5s;
    margin-top: 30px;
    color: #fff;
    background: #34b7a7;
    text-decoration: none;
}
.hero .text-center .a:hover{
    background: #3dc8b7;
}

.social-navigation{}
.social-navigation ul{}
.social-navigation ul li{}
.social-navigation ul li a{
  color: #6f6f6f;  
}
.social-navigation ul li a :hover{
    color: #34b7a7;
}

.social-navigation ul li a i{}


.footer{
    background: #e9e8e6;
    padding: 30px 0;
    color: #222222;
    font-size: 14px;
    text-align: center;
}

.footer p strong{
    font-weight: bolder;
}

.footer p{
    margin: 0;
}

.footer a{
    padding: 0;
}







