
          /* General */

body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  a:hover {
    color: #ffc85a;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }

        /* HEADER  */

  #header {
    z-index: 997;
    transition: all 0.5s;
    height: 80px;
    padding: 20px;
    background: rgba(25, 28, 31, 0.8);
  }
  
  #header.header-transparent {
    background: transparent;
  }
  
  #header.header-scrolled {
    height: 60px;
    background: rgba(25, 28, 31, 0.8);
  }
  
            /* Navigation Menu  */
.main-navigation{
  padding: 0;
}

.main-navigation .nav-item {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.nav li {
  position: relative;
  
}

.nav-item a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

.nav-item a i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.nav-item a:hover, .navbar .active, .navbar li:hover > a {
  color: #ffb727;
}


         
                /* Hero Section */
#hero {
  width: 100%;
  height: 100vh;
  background: url("/Project_02/img/WhatsApp\ Image\ 2021-05-26\ at\ 6.11.57\ PM.jpeg") top right;
  background-size: cover;
  position: relative;
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 15px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-family: "Satisfy", serif;
  color: #fff;
}

#hero h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#hero .hero-container .btn-scroll {
  transition: 0.4s;
  color: rgba(255, 255, 255, 0.6);
  animation: up-down 1s ease-in-out infinite alternate-reverse both;
}

#hero .hero-container .btn-scroll i {
  font-size: 48px;
}

#hero .hero-container .btn-scroll:hover {
  color: #ffb727;
}


            /* ABOUT PAGE ` */


.about{
    padding:60px;
}
.section-title span{
    position: absolute;
    top: 720px;
    color: #eef0f2;
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 52px;
    text-transform: uppercase;
    line-height: 0;
}

.section-title h2{
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #3b434a;
    position: relative;
    z-index: 2;
}
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #3b434a;
  text-transform: uppercase;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #ffb727;
  line-height: 0;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .content .count-box {
  width: 100%;
}

.about .content .count-box i {
  display: block;
  font-size: 36px;
  color: #ffb727;
  float: left;
  line-height: 0;
}

.about .content .count-box span {
  font-size: 36px;
  line-height: 30px;
  display: block;
  font-weight: 700;
  color: #3b434a;
  margin-left: 50px;
}

.about .content .count-box p {
  padding: 15px 0 0 0;
  margin: 0 0 0 50px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #5d6a75;
}

.about .content .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #5d6a75;
  font-size: 15px;
  font-family: "Satisfy", serif;
  transition: ease-in-out 0.3s;
}

.about .content .count-box a:hover {
  color: #82909c;
}

.about .image {
  background: url("/Project_02/img/WhatsApp\ Image\ 2021-05-26\ at\ 7.30.56\ PM.jpeg") center center no-repeat;
  background-size: cover;
  min-height: 500px;
}

.about .skills-content {
  margin-top: 30px;
}

.about .skills-content .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.about .skills-content .progress .skill {
  padding: 10px 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  color: #3b434a;
}

.about .skills-content .progress .skill .val {
  float: right;
  font-style: normal;
}

.about .skills-content .progress-bar-wrap {
  background: #e6e8eb;
}

.about .skills-content .progress-bar {
  width: 1px;
  height: 10px;
  transition: .9s;
  background-color: #ffb727;
}

/*--------------------------------










/* 
    body{
        width: 100%;
        height: 100vh;
        background: url("/Project_02/img/WhatsApp\ Image\ 2021-05-26\ at\ 6.11.57\ PM.jpeg") no-repeat fixed;
        background-size: cover;
        border-radius: 0px;
        

    }
     */
    
    

    /* .header{
        background-color:transparent;
    
        
    }

    .main-navigation .nav-link{
        font-family: 'Abel', sans-serif;
        font-size: 15px;
        font-weight:550;
        color: #fff;
        margin-top:8px;
    }
    
    .main-navigation .nav-link.active{
        color: rgb(255, 217, 0);
    } */
    
   
    
    
    