

body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  a:hover {
    color: #ffc85a;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }

        /* HEADER  */

  #header {
    z-index: 997;
    transition: all 0.5s;
    height: 80px;
    padding: 20px;
    background: rgba(25, 28, 31, 0.8);
  }
  
  
  #header.header-transparent {
    background: transparent;
  }
  
  #header.header-scrolled {
    height: 60px;
    background: rgba(25, 28, 31, 0.8);
  }
  
  
            /* Navigation Menu  */
.main-navigation{
  padding: 0;
}
@media (min-width:576px){
  .main-navigation{
    padding: 0;
}
}

.main-navigation .nav-item {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.nav li {
  position: relative;
  
}

.nav-item a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

.nav-item a i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.nav-item a:hover, .navbar .active, .navbar li:hover > a {
  color: #ffb727;
}


         
                /* Hero Section */
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/wall.png") top right;
  background-size: cover;
  position: relative;
}
#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 15px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-family: "Satisfy", serif;
  color: #fff;
}

#hero h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#hero .btn-scroll {
  transition: 0.4s;
  color: rgba(255, 255, 255, 0.6);
  animation: up-down 1s ease-in-out infinite alternate-reverse both;
}

#hero .btn-scroll i {
  font-size: 48px;
}

#hero .btn-scroll:hover {
  color: #ffb727;
}

@media (min-width:576px),(min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 575px) {
  #hero h1 {
    font-size: 40px;
  }
  #hero h2 {
    text-align: center;
    margin-bottom: 30px;
  }
}


.bx {
  font-family: 'icofont'!important;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  /* display: inline-block; */
  text-transform: none;
  speak-as: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, ::after, ::before {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: border-box;
}
user agent stylesheet
i {
  font-style: italic;
}
#hero .btn-scroll {
  transition: 0.4s;
  color: rgba(255, 255, 255, 0.6);
  animation: up-down 1s ease-in-out infinite alternate-reverse both;
}

.icofont-thin-down:before {
  content: "\e9ac";
}
*, ::after, ::before {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: border-box;
}
*, ::after, ::before {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: border-box;
}

            /* ABOUT PAGE ` */


.about{
    padding:60px;
    
    /* padding-top:120px; */
    
}


/* .about:active{
  color: #ffb727;
} */
.section-title .about {
  position:absolute;
  /* top:700px; */
  margin-top: -55px;
  color: #eef0f2;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 0;

}

.section-title h2{
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #3b434a;
    position:relative;
    z-index:2;
}
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #3b434a;
  text-transform: uppercase;
}

.about p{
  font-family: "Raleway", sans-serif;
  font-size:17px;
  color: #5d6a75;
  font-weight:500;
}

.mail-id{
  color: #444444;
}


.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  padding: 15px;
  
}
.Address{
  margin-top: -50px;
  margin-bottom: 25px;
}


.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #ffb727;
  line-height: 0;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .content .count-box {
  width: 100%;
}

.about .content .count-box i {
  display: block;
  font-size: 36px;
  color: #ffb727;
  float: left;
  line-height: 0;
}

.about .content .count-box span {
  font-size: 36px;
  line-height: 30px;
  display: block;
  font-weight: 700;
  color: #3b434a;
  margin-left: 50px;
}

.about .content .count-box p {
  padding: 15px 0 0 0;
  margin: 0 0 0 50px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #5d6a75;
}

.about .content .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #5d6a75;
  font-size: 15px;
  font-family: "Satisfy", serif;
  transition: ease-in-out 0.3s;
}

.about .content .count-box a:hover {
  color: #82909c;
}

.about .image {
  background: url("../img/profile.png") center center no-repeat;
  background-size: cover;
  min-height: 500px;
}
.skills{
  padding-top: 60px;
  padding-bottom: 15px;
}
.about .skills-content {
  margin-top: 30px;
}

.about .skills-content .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.about .skills-content .progress .skill {
  padding: 10px 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  color: #3b434a;
}

.about .skills-content .progress .skill .val {
  float: right;
  font-style: normal;
}

.about .skills-content .progress-bar-wrap {
  background: #e6e8eb;
}

.about .skills-content .progress-bar {
  width: 1px;
  height: 10px;
  transition: .9s;
  background-color: #ffb727;
}


.close{
  font-weight:700;
  color: #ffb727;
  font-family: 'Odibee Sans', cursive;
}



          /* RESUME PAGE  */

.section-title .resume{
    position: absolute;
    top:2px;
    color: #eef0f2;
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 52px;
    text-transform: uppercase;
    line-height: 0;
}

.resume{
  padding-bottom: 50px;
  padding-top:60px;
  position : relative;
}

.resume p{
  font-family: "Raleway", sans-serif;
  font-size:17px;
  color: #5d6a75;
  font-weight:500;
  text-transform: capitalize;
}

        /* SERVICE PAGE STARTS  */
.section-title .service{
    position: absolute;
    top:2px;
    color: #eef0f2;
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 52px;
    text-transform: uppercase;
    line-height: 0;
}
.service p{
  font-family: "Raleway", sans-serif;
  font-size:17px;
  color: #5d6a75;
  font-weight:500;
}
.service{
  padding-top:60px;
  position:relative;
}

  
          /* PORTFOLIO PAGE STARTS   */
.section-title .portfolio{
    position: absolute;
    top: 2px;
    color: #eef0f2;
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 52px;
    text-transform: uppercase;
    line-height: 0;
}
.portfolio{
  padding-top: 55px;
  position: relative;
}

    /* PORTFOLIO PAGE END ` */

    /* CONTACT PAGE STARTS  */

.section-title .contact{
  position: absolute;
  top: 2px;
  color: #eef0f2;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 0;
}


.contact{
  padding-top:60px;
  position : relative;

}


.timeline .info li{
  font-family: "Raleway", sans-serif;
  font-size:17px;
  /* color: #5d6a75; */
  font-weight:500;
  /* text-transform: capitalize; */
}

    /* FOOTER  */

#footer {
  background: url("../img/footer-bg.jpg") top center no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 80px 0;
  position: relative;
}

#footer::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

#footer .container {
  position: relative;
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  position: relative;
  font-family: "Satisfy", serif;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

#footer .social-links {
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #ffb727;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #f3a200;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 13px;
}
