@media (min-width: 576px){
    .section-title h2{
        color: black;
    }
    .about .content .tab tr td{
        min-width: 60%;
    }
    #hero {
        width: 100%;
        height: 60vh;
        background: url(../images/hero-bg.jpeg) top right;
        background-size: cover;
        position: relative;
    }
    #hero h1 {
        margin: 0 0 10px 0;
        font-size: 34px;
        font-family: "Satisfy", serif;
        color: white;
        text-align: center;
    }
}
@media (max-width: 576px){
    .navbar{
        padding-left: 410px;
    }
}

@media (min-width: 768px){
    .section-title h2{
        color: black;
    }
    .about .content .tab tr td {
        min-width: 40%;
    }
    #hero h1 {
        margin: 0 0 10px 0;
        font-size: 64px;
        font-family: "Satisfy", serif;
        color: white;
        text-align: center;
    }
    #hero {
        width: 100%;
        height: 80vh;
        background: url(../images/hero-bg.jpeg) top right;
        background-size: cover;
        position: relative;
    }
}

@media (min-width: 992px){
    .section-title h2{
        color: black;
    }
    .about .content .tab tr td {
        min-width: 65%;
    }
    #hero h1 {
        margin: 0 0 10px 0;
        font-size: 64px;
        font-family: "Satisfy", serif;
        color: white;
        text-align: center;
    }
    #hero {
        width: 100%;
        height: 100vh;
        background: url(../images/hero-bg.jpeg) top right;
        background-size: cover;
        position: relative;
    }
}

@media (min-width: 1200px){
    .section-title h2{
        color: black;
    }
    .about .content .tab tr td {
        min-width: 65%;
    }
    #hero h1 {
        margin: 0 0 10px 0;
        font-size: 64px;
        font-family: "Satisfy", serif;
        color: white;
        text-align: center;
    }
    #hero {
        width: 100%;
        height: 100vh;
        background: url(../images/hero-bg.jpeg) top right;
        background-size: cover;
        position: relative;
    }
}

@media (min-width: 1400px){
    .section-title h2{
        color: black;
    }
}