body,h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

body{
    padding-top: 70px;
}
.page-section{
    padding-bottom: 60px;
}
.section-title{
    padding-bottom: 20px;
    padding-top: 40px;
}
.section-title h2{
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
}
.section-title .section-underline{
    width: 50px;
    height: 3px;
    background-color: #34b7a7;
    margin: 0 auto;
}
.list-style-1{
    list-style: none;
    padding-left: 0;
}
.list-style-1 li{
    padding-bottom: 12px;
}
.custom-progress-bar-1{
}
.custom-progress-bar-1 .label{
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #222222;
    text-transform: uppercase;
    padding: 10px 0;
    margin: 0 0 6px 0;
    font-size: 13px;
}
.custom-progress-bar-1 .progress{
    height: 10px;
    border-radius: 0;
}
.custom-progress-bar-1 .progress .progress-bar{
    background-color: #34b7a7;
}
.card-type-1{   
}
.card-type-1 h3{
    font-size: 48px;
    color: #34b7a7;
}
.card-type-1 p{
    font-family: "Raleway", sans-serif;
    font-size: 14px;
}
.custom-card-2{
    border: none;
    border-radius: 0;
}
.custom-card-2 .card-body .card-img{
    width: 120px;
    border-radius: 50%;
}
.custom-card-2 .card-body .card-title{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #111;
}
.custom-card-2 .card-body .card-subtitle{
    font-size: 14px;
    color: #999;
    margin: 0 0 15px 0;
}
.custom-card-2 .card-body .card-text{
    font-style: italic;
    margin: 0 auto 15px auto;
}
.custom-card-2 .card-body .card-text i{
    color: #c8efea;
    font-size: 26px;
}

.timeline::before{
    content: '';
    background: #fff;
    border: solid 2px #34b7a7;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: -8px;

}
.timeline{
 border-left: solid 2px #34b7a7;
 padding-left: 20px;
 position: relative;
 padding: 30px;
} 


.timeline h3{
line-height:  18px;
font-size: 18px;
font-weight: 600;
font-family: "poppins",san sans-serif;
color: #1d685f;
margin-bottom: 10px;
}
.timeline p.label{
font-size: 16px;
background: #effbf9;
padding: 5px 15px;
display: inline-block;
font-weight: 600;
margin-bottom: 10px;
color: #34b7a7;
}
.timeline p.small{


}
.timeline ul{
padding-left: 18px;
margin: 0;
font-family: "poppins",san sans-serif;
}
.timeline ul li{
padding-bottom: 10px;
font-family: "poppins",san sans-serif;
}


.logo h1 a{
    text-decoration: none;
    color: #222;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 400;
}
.main-navigation{
    padding-top: 5px;
}
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #e9e8e6;
    box-shadow: 2px 17px 20px 14px  rgb(0 0 0 / 8%);
    padding: 10px 0px 6px 0;
}

.main-navigation .nav-link{
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #888;
}
.main-navigation .nav-link:hover{
    color:#222;
}
.main-navigation .nav-link.active{
    color:#222;
}
.main-navigation .nav-link.active i{
    display: block;
    width: 30px;
    height: 2px;
    background-color:  #34b7a7;
    transition: all 0.3s;
}
.main-navigation .nav-link:hover i{
    display: block;
    width: 30px;
    height: 2px;
    background-color:  #34b7a7;
}
.social-navigation{}
.social-navigation ul{}
.social-navigation ul li{}
.social-navigation ul li a{
    color: #6f6f6f;
}
.social-navigation ul li a:hover{
    color: #34b7a7;
}
.social-navigation ul li a i{}

.hero{
    background-image: url(../image/hero-bg.jpg);
    background-size: cover;
    background-repeat: none;
    height: 100vh;
}
.hero .full-height{
    height: 100vh;
}
.hero h3{
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color:black;
}
.hero p{
    color: #6f6f6f;
    margin: 10px 0 0 0;
    font-size: 22px
}
.hero a{
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 30px;
    color: #fff;
    background: #34b7a7;
    text-decoration: none;
}
.hero .text-center .a:hover{
    background: #3dc8b7;
}

.footer{
    background: #e9e8e6;
    padding: 30px 0;
    color: #222222;
    font-size: 14px;
    text-align: center
}
.footer p strong{
    font-weight: bolder;
}
.footer p{
    margin-top: 0;

}
.footer a{
    padding: 0;
}