.header{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    transition: all ease-in-out 0.5s;
    z-index: 9997;
    transition: all 0.5s;
    padding: 0 15px;
    background: #040b14;
    overflow-y: auto
}

.header .profile-wrapper h5 a{
    color: #fff;
    text-decoration: none;
}
.header .profile-wrapper a{
    color: #fff;
    text-decoration: none;
}
.Service-page-starts {
    padding-left: 300px;
}
.Service-page-starts .container{
    padding-right: 300px;
}
.custom-card-3 {
    border: none;
    background: #fff;
    box-shadow: 0px 0 35px 0 rgb(0 0 0 / 8%);
    margin-bottom: 20px;
}
.custom-card-3 .card-body{
    padding: 60px;
}
.custom-card-3 .card-icon-wrapper{
    width: 100px;
    height: 100px;
    background: #dfdfeb;
    border-radius: 50%;
    color: #40aeb4;
    margin: auto;
    font-size: 38px;
    text-align: center;
    line-height: 100px;
    margin-bottom: 20px;
    transition: all 0.5s;
}
.custom-card-3 .card-icon-wrapper.card-icon-1{
    color: #adcfe9;
}
.custom-card-3 .card-icon-wrapper.card-icon-2{
    color: #ffa76e;
}
.custom-card-3 .card-icon-wrapper.card-icon-3{
    color: #e80368;
}
.custom-card-3 .card-icon-wrapper.card-icon-4{
    color: #ffbb2c;
}
.custom-card-3 .card-icon-wrapper.card-icon-5{
    color: #30eb4f;
}
.custom-card-3 .card-icon-wrapper.card-icon-6{
    color: #2cffd1;
}
.custom-card-3:hover .card-icon-wrapper{
    color: #fff;
}
.custom-card-3:hover .card-icon-wrapper.card-icon-1{
    background-color: #47aeff;
}
.custom-card-3:hover .card-icon-wrapper.card-icon-2{
    background-color: #ffa76e;
}
.custom-card-3:hover .card-icon-wrapper.card-icon-3{
    background-color: #e80368;
}
.custom-card-3:hover .card-icon-wrapper.card-icon-4{
    background-color: #ffbb2c;
}
.custom-card-3:hover .card-icon-wrapper.card-icon-5{
    background-color: #30eb4f;
}
.custom-card-3:hover .card-icon-wrapper.card-icon-6{
    background-color: #2cffd1;
}
.custom-card-3 .card-title{
    font-weight: 600;
    margin: 10px 0 15px 0;
    font-size: 22px;
}
.custom-card-3 .card-text{
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.custom-card-4{
    border: none;
    margin-bottom: 80px;
}

.custom-card-4 .card-body{
    padding: 0;
    position: relative;
    overflow: hidden;
}
.custom-card-4 .card-body .card-image-wrapper{
      overflow: hidden;
}
.custom-card-4 .card-body .card-image-wrapper .card-img{
    border-radius: 0;
    transform: scale(1);
    transition: all 0.3s;
}
.custom-card-4:hover .card-body .card-image-wrapper .card-img{
    transform: scale(1.2);
}
.custom-card-4 .card-text-wrapper{
     position: absolute;
     bottom: -80px;
     left: 20px;
     color: #fff;
     z-index: 2;
    transition: all 0.3s;

}
.custom-card-4:hover .card-text-wrapper{
   bottom: 20px;
}
.custom-card-4 .card-text-wrapper .card-title{

}
.custom-card-4 .card-text-wrapper .card-subtitle{

}
.custom-card-4 .card-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(34, 34, 34, 0.6); 
    z-index: 1; 
    opacity: 0;
    transition: all 0.3s;

}
.custom-card-4:hover .card-overlay{
    opacity: 1;
}



.header .profile-wrapper .wrapper-img{
    margin: 15px auto;
    display: block;
    width: 120px;
    border-radius: 50%;
    border: 8px solid #2c2f3f
}
i.icofont-linkedin {
    font-size: 18px;
    display: inline-block;
    background: #212431;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}
i.icofont-instagram {
    font-size: 18px;
    display: inline-block;
    background: #212431;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}
i.icofont-facebook {
    font-size: 18px;
    display: inline-block;
    background: #212431;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}
i.icofont-twitter {
    font-size: 18px;
    display: inline-block;
    background: #212431;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

.menu-bar{
    margin: 0;
    padding: 0;
    list-style: none;
}
.header .profile-wrapper .menu-bar{
   padding: 30px 10px 10px 10px;
}
.header .profile-wrapper .menu-bar ul li a i{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #fff;
    position: relative;
    white-space: nowrap;
}

.header .profile-wrapper:hover .menu-bar ul li a i{
     color: #149ddd;
     
}
.hero{
    background-image: url(../../image/hero.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.hero:before{
    content: "";
    background: rgba(5, 13, 24, 0.3);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.hero .full-height{
    height: 100vh;
    
}
.hero h3{
    margin: 0 0 10px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}
.hero p{
    color: #fff;
    margin-bottom: 50px;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
}
.section-title h2{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #173b6c;
}
.card-type-1{
    padding: 30px;
}
.card-type-1 i{
    display: block;
    font-size: 44px;
    color: #149ddd;
    float: left;
    line-height: 0;
}
.card-type-1 h3{
    display: block;
    font-size: 30px;
    color: black;
    line-height: 0;
}

.timeline::before{
    content: '';
    background: #fff;
    border: 2px solid #1f5297;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50px; 
    position:absolute;
    top: 0;
    left: -8px;
}

.timeline{
 border-left: 2px solid #1f5297;
 padding-left: 22px;
 position: relative;
 padding-bottom: 30px;
}
.timeline h3{
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #1d685f;
    margin-bottom: 10px;
}
.timeline p.label{
    font-size: 16px;
    background: #effbf9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
    color: #34b7a7;
}

.timeline ul{
 padding-left: 18px;
 margin: 0;
}
.timeline ul li{
   padding-bottom: 10px;
}
h2, .h2 {
    margin-top: 18px;
    margin-bottom: 18px;
}

.container {
    padding-left: 200px;
}
.footer{
    padding: 0px;
    color: #f4f6fd;
    font-size: 14px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 9999;
    background: #040b14;
}
