h1, h2, h3, h4, h5, h6{
    font-family: "Raleway",sans-serif;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    transition: all ease-in-out 0.5s;
    z-index: 9997;
    transition: all 0.5s;
    padding: 0 15px;
    background: #040b14;
    overflow-y: auto
}

.header .profile-wrapper h5 a{
    color: #fff;
    text-decoration: none;
}
.service-section .container{
    padding-left: 115px;
}
.Service-page-starts {
    padding-left: 200px;
}
.Service-page-starts .container{
    padding-right: 0px;
}
.custom-card-3 {
    border: none;
    background: #fff;
    margin-bottom: -64px;
}
.custom-card-3 .card-body{
    padding: 60px;
}
.custom-card-3 .card-icon-wrapper{
    width: 100px;
    height: 100px;
    background: #dfdfeb;
    border-radius: 50%;
    color: #40aeb4;
    margin: auto;
    font-size: 38px;
    text-align: center;
    line-height: 100px;
    margin-bottom: 20px;
    transition: all 0.5s;
}
.custom-card-3 .card-icon-wrapper.card-icon-1{
    color: #adcfe9;
}
.custom-card-3 .card-icon-wrapper.card-icon-2{
    color: #ffa76e;
}
.custom-card-3 .card-icon-wrapper.card-icon-3{
    color: #e80368;
}
.custom-card-3 .card-icon-wrapper.card-icon-4{
    color: #ffbb2c;
}
.custom-card-3 .card-icon-wrapper.card-icon-5{
    color: #30eb4f;
}
.custom-card-3 .card-icon-wrapper.card-icon-6{
    color: #2cffd1;
}
.custom-card-3:hover .card-icon-wrapper{
    color: #fff;
}
.custom-card-3:hover .card-icon-wrapper.card-icon-1{
    background-color: #47aeff;
}
.custom-card-3:hover .card-icon-wrapper.card-icon-2{
    background-color: #ffa76e;
}
.custom-card-3:hover .card-icon-wrapper.card-icon-3{
    background-color: #e80368;
}
.custom-card-3:hover .card-icon-wrapper.card-icon-4{
    background-color: #ffbb2c;
}
.custom-card-3:hover .card-icon-wrapper.card-icon-5{
    background-color: #30eb4f;
}
.custom-card-3:hover .card-icon-wrapper.card-icon-6{
    background-color: #2cffd1;
}
.custom-card-3 .card-title{
    font-weight: 600;
    margin: 10px 0 15px 0;
    font-size: 22px;
}
.custom-card-3 .card-text{
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.custom-card-4{
    border: none;
    margin-bottom: 80px;
}

.custom-card-4 .card-body{
    padding: 0;
    position: relative;
    overflow: hidden;
}
.custom-card-4 .card-body .card-image-wrapper{
      overflow: hidden;
}
.custom-card-4 .card-body .card-image-wrapper .card-img{
    border-radius: 0;
    transform: scale(1);
    transition: all 0.3s;
}
.custom-card-4:hover .card-body .card-image-wrapper .card-img{
    transform: scale(1.2);
}
.custom-card-4 .card-text-wrapper{
     position: absolute;
     bottom: -80px;
     left: 20px;
     color: #fff;
     z-index: 2;
    transition: all 0.3s;

}
.custom-card-4:hover .card-text-wrapper{
   bottom: 20px;
}

.custom-card-4 .card-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(34, 34, 34, 0.6); 
    z-index: 1; 
    opacity: 0;
    transition: all 0.3s;

}
.custom-card-4:hover .card-overlay{
    opacity: 1;
}
.header .profile-wrapper .wrapper-img{
    margin: 15px auto;
    display: block;
    width: 120px;
    border-radius: 50%;
    border: 8px solid #2c2f3f
}


/*menu-bar*/
a {
    color: #a8a9b4;
    text-decoration: none;
}
.menu-bar ul li {
    margin: 4px;
    padding: 10px;
    list-style-type: none;
    text-align: center;
    padding-right: 135px;
    font-size: 16px;
}
.menu-bar ul li::hover{
    color: #fff;
}
.menu-bar ul li a:hover{
    color: #fff;
}

.menu-bar ul li i{
    padding-right: 6px;
    font-size: 19px;
}
/*end menu-bar*/

/*social-links*/
.nav li a{
    font-size: 18px;
    display: inline-block;
    background: #212431;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}
.nav li a:hover{
    background: #149ddd;
    color: #fff;
    text-decoration: none;
    height: 36px;
    width: 36px;
    border-radius: 50%;
}
/*end social-link*/
.hero{
    background-image: url(../../image/hero.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.hero:before{
    content: "";
    background: rgba(5, 13, 24, 0.3);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.hero .full-height{
    height: 100vh;
    
}
.hero h1{
    margin: 0 0 25px 0;
    font-size: 55px;
    font-weight: 700px;
    line-height: 56px;
    color: #fff;
    padding-left: 740px;
}
.hero p{
    color: #fff;
    margin-top: -25px;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    padding-left: 890px;
}
.section-title h2{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #173b6c;
}
.section-title h2::after{
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 0;
}
.card-type-1{
    padding: 30px;
}
.card-type-1 i{
    display: block;
    font-size: 44px;
    color: #149ddd;
    float: left;
    line-height: 0;
    margin-left: -24px
}
.card-type-1 h3{
    font-size: 40px;
    line-height: 40px;
    display: block;
    font-weight: 700;
    color: #050d18;
}
.timeline::before{
    content: '';
    background: #fff;
    border: 2px solid #1f5297;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50px; 
    position:absolute;
    top: 0;
    left: -8px;
}

.timeline{
 border-left: 2px solid #1f5297;
 padding-left: 22px;
 position: relative;
 padding-bottom: 30px;
}
.timeline h3{
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #1d685f;
    margin-bottom: 10px;
}
.timeline p.label{
    font-size: 16px;
    background: #effbf9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
    color: #34b7a7;
}

.timeline ul{
 padding-left: 18px;
 margin: 0;
}
.timeline ul li{
   padding-bottom: 10px;
}
h2, .h2 {
    margin-top: 18px;
    margin-bottom: 18px;
}

.container {
    padding-left: 200px;
}

/*about page*/
img.img-thumbnail {
    max-width: 115%;
    height: auto;
    border: none;
    padding-right: 65px;
}
h3.title {
    font-weight: 700;
    font-size: 26px;
    color: #173b6c;
    padding-left: 4px;
}
p.content {
    padding-left: 0;
}
p.content:last-child {
    padding-left: 0px;

}
ul.list-style-1 {
    padding-left: 45px;
}
li {
    padding-bottom: 25px;
    list-style: none;
    padding-top: 10px;
    padding-left: 15px;
}
strong {
    padding-right: 7px;
}
p.text-center {
   
    padding: 0px;
    color: #f4f6fd;
    font-size: 14px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 9999;
    background: #040b14;
}
h2.section-name::after{
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 0;
}
.section-bg {
    background: #f5f8fd;
}
.contact-page .container{
    padding-left: 115px;
}