*{
    padding: 0;
    margin: 0;
    left: 0;

}
.brazil {
    background:transparent;
    background-color: rgba(221, 226, 210, 0.8);
    background-attachment: fixed;
}
.navigation{
margin: 12px;

}
body{
    background:linear-gradient(rgba(190, 190, 63, 0.1),rgba(144, 189, 62, 0.1)),url(../images/118713.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}