body{
    padding-top: 70px;
    background: #faf7f7;
}

/*headere section*/

.header{
    width:100%;
    position: fixed;
    background-color: #fff;
    padding:13px 0;
    box-shadow: 0px 2px 25px rgb(0 0 0 / 8%);
    z-index: 3;
    top: 0;
    left: 0;

}

.header .logo a img{
    max-height: 40px;
    margin-left: 5px;
}

.navigation {
    padding-top: 5px;
}
.navigation .nav .nav-link{
    color:#7e7d7d;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 22px 11px 20px;

}
.navigation .nav .nav-link:hover{
    color: #b8a07e;

}
.navigation .nav .drop-down{
    background-color: rgb(252, 252, 252);
}

/*header section ends*/


/*herrooo starts*/

.hero{
    background: url(./images/home-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    
}
.full-height{
    height: 100vh;

}
.hero .head-one{
    padding: 250px 0 0 0;
}
.hero .head-one h1{
    color: #fff;
    font-weight: 800;
    font-size: 40px;
    font-family: 'Poppins', helvetica;
    

}
.hero .head-one p{
    color: #fff;
    font-weight: 800;
    font-size: 15px;
    font-family: 'Poppins', helvetica;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 2px;
    

}
.social-navigations ul li a{
    font-size: 17px;
    color: #fff;
    padding: 8px 5px;
   text-decoration: none;
    
}

/*herrooo starts*/


/*about*/

.about{
    width: 100%;
    background: #faf7f7;
    padding-top: 120px;
    padding-bottom: 90px;
    
    
}
.about-img{
    position: relative;
    
    right:0;
    top:0;
    border: 20px solid #b8a07e;
    width: 280px;
    height: 400px;
    z-index: 0;
}
/*
.about-img::after{
    position: absolute;
    content: '';
    right: -30px;
    top:30px;
    border: 20px solid #b8a07e;
    width: 100%;
    height: 100%;

}
*/

.about-img img{
    width: 255px;
    height: 400px;
    z-index: 2;
    position: absolute;
    top: -60px;
    left: 40px;
    


}
.about .about-text h2{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    text-align: left;
    color:#999999;
    line-height: 26px;
    margin-right: 12px

}
.about .about-text p{
    margin: 31px -30px;
    padding: 0px 78px 12px 31px;
    font-size: 17px;
    color: #999999;
    line-height: 28px;
    right: 0;
}

.service-block i{
    font-size: 44px;
    color:#b8a07e;
    line-height: 44px;
}
.services h6{
    font-size: 13px;
    font-weight: 500;
    color: #292929;
    line-height: 22px;
    letter-spacing: 1px;
}
.services p{
    font-size: 13px;
    font-weight: 500;
    color: #999999;
    font-family: 'Poppins', helvetica;
    letter-spacing: 0.5px;
    padding-bottom: 30px;
}
/*about*/


/*portfolio*/

.portfolio h2{
    margin-top: 80px;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 2px;
    color: #292929;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}
.portfolio li{
    font-family: "Poppins", sans-serif;
    border: none;
    cursor: pointer;
    display: inline-block;
    padding: 10px 25px 8px 25px;
    font-size: 14px;
    font-weight: 600;
    line-height: 10;
    text-transform: uppercase;
    color: #999999;
    background-color: #faf7f7;
    margin-bottom: 5px;
    list-style: none;
    transition: 0.3s ease-in-out;
}
.portfolio li:hover{
    color: #b8a07e;
}
.custom-card-2{
    border: none;
    margin-bottom: 20px;
}
.custom-card-2 .card-body{
    padding: 0px;
    overflow: hidden;
    position: relative;
}
.custom-card-2 .card-body .card-image-wrapper{
    overflow: hidden;
}
.custom-card-2 .card-text-wrapper{
    position: absolute;
    bottom: -85px;
    left: 20px;
    color: #999999;
    z-index: 2;
    transition: all 0.5s;
    background: rgba(255, 255, 255, 0.9);
    padding: 15px;
    width: 85%;
    
}
.card-text-wrapper span{
    padding-right: 5px;
    padding-top: 10px;
    
}
.card-text-wrapper span i{
    font-size: 18px;
    color: #b8a07e;
    

}


.custom-card-2:hover .card-text-wrapper{
    bottom: 20px;
}
/*portfolio*/


/*journall*/

.journal{
    margin: 20px;
    
}
.journal h2{
    padding: 27px 0 68px 0;
    margin-top: 50px;
}
.custom-card-3{
    border: none;
    margin-bottom: 20px;
    background: #faf7f7;
}
.custom-card-3 .card-body{
    padding: 0px;
    overflow: hidden;
    position: relative;
}
.custom-card-3 .card-body .card-image-wrapper{
    overflow: hidden;

}
.custom-card-3 .card-text-wrapper{
    padding: 27px 36px 9px 0px;
    cursor: pointer;
    
}
.custom-card-3 .card-text-wrapper h5{
    padding-bottom: 5px;
}
.custom-card-3 .card-text-wrapper h5 a{
    transition: all 0.5s ease-in-out;
    color: #292929;
    

}
.custom-card-3 .card-text-wrapper h5 a{
    color: #292929;
    text-decoration: none;
}


.custom-card-3 .card-text-wrapper h5 a:hover{
    color: #b8a07e;
}
.custom-card-3 .card-text-wrapper p{
    color:#999999;
    margin-bottom: 50px;
}

/*journall*/


/*form */
.form{
    padding-top: 80px;
    background: #fff;
}

.form h2{
font-size: 32px;
margin-bottom: 30px;
font-weight: 600;
}
.form ul li{
    color:#999999;
    list-style: none;
    line-height: 28px;
    font-family: 'Poppins', helvetica;
    
}
.form ul li a i{
    text-decoration: none;
}

.form ul{
    padding: 0;
}
.form .text-input{
    width: 100%;
    height: 50px;
    font-size: 12px;
    color: #999999;
    letter-spacing: 2px;
    font-weight: 500;
    font-family: 'Poppins', helvetica;
    padding-left: 10px;
    margin: 0 0 25px 0;
    line-height: 14px;
    
}
.form .text-input::content{
    border: 1px solid #ced4da;
}


.form .text-area{
    width: 100%;
    height: 80px;
    margin-bottom: 35px;
    padding-left: 10px;
}
.form .button-one{
    width: 100%;
    font-family: 'Poppins', helvetica;
    font-weight: 400;
    height: 50px;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #212529;
    color:#fff;
    margin-bottom: 90px;
}

/*form */


/*foooter*/
.footer{
    background: #f7f7f7;
padding-bottom: 50px;
padding-top: 50px;
line-height: 3;
}
.socials-media i{
    color: #999999;
    font-size: 25px;
    margin-left: 27px;
    line-height: 10px;
    margin-top: 20px;
    background-color:#faf7f7;
    text-decoration: none;
    list-style: none;
    
}
.socials-media ul li{
    list-style: none;
    text-decoration: none;
}
.footer p{
    margin: 0;
    color: #7e7d7d;
}
.footer a{
    padding: 0;
    text-decoration: none;
    color: #7e7d7d;
}
.footer a i:hover{
    color: #b8a07e;
}

/*foooter*/

/*bloggggggggg*/
.blog{
    padding-top: 40px;
    background: #f7f7f7;
}
.blog .img-one img{
    width: 100%;
overflow: hidden;
}

.blog .about-head{
    padding: 10px 20px 0 20px;
}
.blog .about-head h3{
    font-size: 19px;
    line-height: 24px;
    margin: 0 0 13px 0;
    font-weight: 500;
    color: #292929;
}
.blog .about-head h3 a{
    text-decoration: none;
    color: #292929;
    transition: 0.5s;
}
.blog .about-head h3 a:hover{
    color: #b8a07e;
}
.blog .about-head ul{
    margin-left: -33px;
}
.blog .about-head ul li{
    font-size: 12px;
    font-weight: normal;
    padding-left: 11px;
    text-transform: capitalize;
    display: inline-block;
    font-family: 'Poppins', helvetica;
    color: #999999;
    letter-spacing: 1px;
    margin-bottom: 16px;
}
.blog .about-head .mb-30{
    
    margin: 25px 0;
    font-size: 15px;
    color: #999999;
    line-height: 28px;
    font-family: 'Poppins', helvetica;
    font-weight: 400;
    letter-spacing: 1px;
}
.main-content{
    background: #fff;
}
.blog blockquote{
    margin: 0px;
    background-color: #f7f7f7;
    padding: 40px 30px;
    color: #999999;
    font-family: 'Poppins', helvetica;
    
    border-left: 4px solid #b8a07e;
}



.section-two{
    margin-top: 20px;
}
.section-two h5{
    padding: 30px 0 0 0;
    color: #999999;
    margin: 0px 0px 51px 15px;
    font-size: 14px;
    letter-spacing: 1px;
}
.section-two .img-wrapper img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 4px 4px 3px 18px;
}
.section-two .section-comment h4{
    margin-right: 10px;
    font-size: 13px;
    color: #292929;
    letter-spacing: 0.1em;
    font-weight: 500;
    font-family: 'Poppins', helvetica;
    padding: 0 0 0 17px;
    
}
.section-comment span{
    color: #999999;
    margin-bottom: 20px;
    font-family: 'Poppins', helvetica;
    font-size: 12px;
}
.comment-para p{
    margin: 25px 17px;
    padding: 0;
    font-size: 15px;
    color: #999999;
    line-height: 28px;
font-family: 'Poppins', helvetica;

}




/*bloggggggggg*/