.name{
    font-family: 'Bebas Neue', cursive;



}

h2{
    margin-top: 5%;
}

.dropdown{
    font-family: 'Bebas Neue', cursive;

}

.dropdown-item{
    font-family: 'Abel', sans-serif;
}

.devp{
    font-family: 'Abel', sans-serif;
}


.addr{
    font-family: 'Abel', sans-serif;
}


/* .img{
    margin-left:80%;
    padding-top:-50%;
    z-index:1;
    
}

.navbar navbar-dark bg-dark{
    z-index: 2;
} */

.crr{
    font-family: 'Bebas Neue', cursive;
    margin-top:1%;
    margin-left:1%;
}

.obj{
    font-family: 'Abel', sans-serif;
    margin-left: 5%;

}

.edu{
    margin-top: 3%;
    font-family: 'Bebas Neue', cursive;
    margin-left:1%;
}

.rowtat{
    font-family: 'Bebas Neue', cursive;
}

.rowlis{
    font-family: 'Abel', sans-serif;
}



.skl{
    font-family: 'Bebas Neue', cursive;
    margin-top:1%;
    margin-left:1%;
}

.skllis{
    font-family: 'Abel', sans-serif;
}

.prd{
    font-family: 'Bebas Neue', cursive;
    margin-top:1%;
    margin-left:1%;

}

.pht{
    font-family: 'Bebas Neue', cursive;

}

.phl{
    font-family: 'Abel', sans-serif;
    
}

