@media (min-width:992px){
    .nav-wrapper{
        display: block ;
    }
    .mobile-menu-trigger{
        display: none;
    }
}
@media (max-width:991px){
.nav-wrapper{
    position: absolute;
    top: 51px;
    left: 0;
    width: 100%;
    background: #fff;
  }
  .nav-wrapper .nav-item{
    width: 100%;
  }      
}

@media (max-width:576px){
  .about h3{
    font-size: 25px;
    padding-top: 10px;
  }
  .section-title h2{
    font-size: 25px;
  }
  .skills .skills-section-title h2{
    font-size: 25px;
  }
  .Testimonials .Testimonials-section-title h2{
    font-size: 25px;
  }
  .timeline-wrapper h2{
    font-size: 20px;
  }
  .contact-about h3{
    font-size: 30px;
  }
 
  
   
      
}