body, h1, h2, h3, h4, h5, h6{
    font-family:"Raleway", sans-serif;
}
/*header section */
.header{
    position: fixed;
    background: #e9e8e6;
    top: 0;
    left: 0;
    padding: 10px 0 6px 0;
    box-shadow:0px 0px 25px 0 rgb(0 0 0 / 8%);
    width: 100%;
}
.header .logo h1 a{
    color:#222 ;
    text-decoration: none;
    font-size: 32px;
    font-weight: 400;
}




.navigation{
    padding-top: 5px;
}
.navigation .nav-link{
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight:600;
    color: #888;
    padding: 8px 12px;
}
.navigation .nav-link:hover{
    color: #222
}
.navigation .nav-link.active{
    color: #222;
}
.navigation .nav-link i{
    display: block;
    width: 0;
    height: 2px;
    background-color: #34b7a7;
    margin-top: 0.5px;
    transition: 1s;
}
.navigation .nav-link:hover i{
    display: block;
    width: 30px;
    height: 2px;
    background-color: #34b7a7;
}
.navigation .nav-link.active i{
    display: block;
    width: 30px;
    height: 2px;
    background-color: #34b7a7;
}


    .social-navigations ul li a{
    color: #6f6f6f;
    padding: 8px 5px;
    font-size :18px;
    }
    .social-navigations ul li a:hover{
        color: #34b7a7;
    }




/*header section ends */

/*hero section starts */

.hero{
    background-image: url(../aju/images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
.full-height{
    height: 100vh;
}

.hero h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #222222;
}
.hero p{
    color: #6f6f6f;
    margin: 10px 0 0 0;
    font-size: 22px;
}
.hero a{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 30px;
    color: #fff;
    background: #34b7a7;
    border: none;
}



/*hero section ends */

/*footer section starts*/

.footer{
    background-color: #e9e8e6;
    padding: 30px 0;
    color: #222;
    font-size: 14px;
}
.footer p{
    margin: 0;
}
.footer a{
    padding: 0;
}


/*footer section ends*/


